body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.infoBox {
  z-index:1;
  display: none;
  position: relative;
  /*left: 300px;
  top: 700px;*/
  /*left: 900px;
  top: 200px;*/
}

/*.infoBox1{
  left: 350px;
  top: 600px;
}

.infoBox2{
  left: 150px;
  top: 200px;
}

.infoBox3{
  left: 650px;
  top: 400px;
}

.infoBox4{
  left: 750px;
  top: 200px;
}*/