
@{
    ViewBag.Title = "Fryeware";
}

<h2>Contact Information</h2>
<address>
    email: <a href="mailto:david@fryeware.net">David Frye</a><br>
    web: <a href="mailto:www.fryeware.net">www.fryeware.net</a><br>
    Tracy, CA<br>
    USA
</address>

